* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* เพิ่มช่องว่างด้านล่างถ้าต้องการ */
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logo_img {
    height: 100px;
    width: 100px;
   
    margin-bottom: 10px; /* เพิ่มช่องว่างระหว่างภาพกับข้อความ */
}

body, html {
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
}

.dashboard-container {
    display: flex;
    width: 100%;
    height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #e5e5e5;
    padding: 20px;
    color: #333;
}

.sidebar .logo {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.sidebar nav ul {
    list-style: none;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar nav ul li.active a,
.sidebar nav ul li a:hover {
    background-color: #ccc;
}

.main-content {
    width: 80%;
    padding: 20px;
    overflow-y: auto;
}

header h1 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.stat-card {
    background-color: #fff;
    width: 30%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.stat-card h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.stat-number {
    font-size: 2em;
    font-weight: bold;
    color: #4CAF50;
}



.charts {
    display: flex;
    gap: 75px;
    margin-top: 20px;
    
    
}

.chart-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* จัดให้เนื้อหาอยู่ตรงกลางแนวตั้ง */
    text-align: center;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}


.chart-card canvas {
    width: 300px !important;
    height: 300px !important;
    
}

.logout_bt {
    background-color: #ff4b5c; 
    color: #fff;
    padding: 8px 10px; 
    font-size: 10px; 
    font-weight: bold; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logout_bt:hover {
    background-color: #ff1e33; 
    transform: scale(1.05); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); 
}

.logout_bt:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


#admin-info{
    font-size: 30px;
}