/*เรียก css ผ่านclass เพื่อตกแต่งให้สวยงาม*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
  }
  
  .container {
    padding: 50px 20px 20px;
    background-color: #ffffff;
    min-height: 100vh;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    border-bottom: 1px solid #ddd;
    background-color: #EBE6E0;
    z-index: 1000; /* เพื่อให้ header อยู่ด้านบนสุด */
  }
  
  header a {
    color: #333;
    text-decoration: none;
  }
  
  header .back {
    font-size: 16px;
  }
  
  header h1 {
    font-size: 20px;
    font-weight: normal;
  }
  
  header .sign-out {
    font-size: 16px;
  }
  
  .account-section h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  .profile-info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0eae2;
    margin-bottom: 20px;
  }
  
  .profile-info .left,
  .profile-info .right {
    width: 48%;
  }
  
  .profile-info h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .profile-info p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .note {
    font-size: 12px;
    color: #888;
  }
  
  .address-book {
    padding: 20px;
    background-color: #f0eae2;
    margin-bottom: 20px;
  }
  
  .address-book h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .address-book p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .address-book .address {
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 10px;
  }
  
  .edit {
    font-size: 12px;
    padding: 5px 10px;
    color: #333;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
    border: none;
  }
  
  .add-address {
    font-size: 14px;
    padding: 10px;
    color: #fff;
    background-color: #333;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  .order-history {
    padding: 20px;
    background-color: #f0eae2;
  }
  
  .order-history h3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .order-history p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .order-history span {
    font-size: 14px;
    margin-right: 10px;
  }
  